<div class="headerbar">
    <form class="searchform" action="#" method="post">
        <input class="form-control" name="keyword" placeholder="Search here..." type="text">
    </form><div class="header-right">
        <ul class="headermenu">
            <li><button onclick="javascript:window.location.href='{{ url('fos_user_security_login') }}'" type="button" class="btn btn-default dropdown-toggle">登陆</button></li>
            <li><button onclick="javascript:window.location.href='{{ url('fos_user_registration_register') }}'" type="button" class="btn btn-default dropdown-toggle">注册</button></li>
        </ul>
    </div><!-- header-right -->
</div>