<div class="row">


    <div class="col-md-6">
        <div class="panel">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table mb30">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Post Title</th>
                        <th>Enabled</th>
                        <th>Created At</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}

                    <tr>
                        <td>1</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.enabled }}</td>
                        <td>{{ post.createdAt | date('Y-m-d H:i:s') }}</td>
                        <td class="table-action">
                            <a href="#"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>