{% extends "StoreFrontendBundle::layouts.html.twig" %}

{% block title %}StoreFrontendBundle:Home:index{% endblock %}


 {% block blockName %}
     <img src="{{ store.logo | imagine_filter('banner') }}" />
     <label>{{ store.name }}</label>
 {% endblock %}

{% block body %}

    {% include "StoreFrontendBundle:Cart:dashboard/index_content.html.twig" %}

{% endblock %}
